html {
  background-color: white;
  font-size: 16px; }
body {
  width: 60%;
  max-width: 900px;
  margin: 4rem auto 0;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif; }
header {
  padding-bottom: 2.5rem; }
header img {
  width: 10rem;
  border: none; }
main {
  padding: 0.5rem 0 2.5rem; }
footer {
  padding-top: 2.5rem; }
.centered {
  text-align: center; }
h1 {
  color: #777;
  font-weight: 100;
  font-size: 2.5rem;
  margin-bottom: 0.75em; }
p {
  color: #666;
  line-height: 1.5em;
  margin: 0; }
  p + p {
    margin-top: 2em; }
a {
  color: #009DFF;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }
  a:visited {
    color: #009DFF; }
  a:hover {
    text-decoration: underline;
    color: #f56c4a; }
.right {
  float: right; }
@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-0.75rem);
    transform: translateY(-0.75rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.animated-view.ng-enter {
  animation: 0.35s slideIn ease-in-out;
  -webkit-animation: 0.35s slideIn ease-in-out; }
.gender-picker a {
  display: inline-block; }
  .gender-picker a svg {
    height: 300px; }
    .gender-picker a svg > * {
      transition: all 0.2s ease-out; }
  .gender-picker a:hover svg > * {
    fill: #009DFF; }
.gender-picker .the-gender-divide {
  height: 300px;
  width: 30px;
  background-color: #222;
  display: inline-block;
  margin: 0 20px; }
a.gender-link {
  color: #222;
  text-decoration: none; }
  a.gender-link:hover {
    color: #009DFF;
    text-decoration: none; }
  a.gender-link img {
    height: 6rem;
    transition: opacity 0.2s ease-out; }
  a.gender-link:hover img {
    opacity: 0.5; }
.emoji {
  font-weight: normal;
  font-size: 5rem; }
article.status, section.count {
  transition: all 0.35s ease-in-out; }
article.status {
  background-color: #DD0A17;
  padding: 1rem 1rem 2rem;
  border-radius: 1rem;
  font-weight: bold;
  color: white;
  box-shadow: 0 1rem 3rem -1.5rem #DD0A17; }
  article.status.available {
    background-color: #2BB972;
    box-shadow: 0 1rem 3rem -1.5rem #2BB972; }
  article.status.warning {
    background-color: #E8A631;
    box-shadow: 0 1rem 3rem -1.5rem #E8A631; }
section.count {
  font-weight: 100;
  font-size: 3.5rem;
  margin-top: 1rem; }
  section.count h1 {
    font-size: 6rem;
    color: white;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.08em; }
  section.count h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.6); }
@media all and (max-device-width: 736px) {
  html {
    font-size: 22px; }
  body {
    width: 80%;
    max-width: none;
    margin: 6rem auto; }
  .gender-link img {
    height: 8rem; } }
