html {
  background-color: white;
  font-size: 16px; }
body {
  width: 50%;
  min-width: 600px;
  max-width: 800px;
  margin: 5rem auto 0;
  font-family: 'Proxima Nova', 'Lucida Grande', Helvetica, Arial, sans-serif; }
header {
  padding-bottom: 2.5rem; }
header img {
  width: 140px;
  border: none; }
main {
  /*border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;*/
  padding: 0.5rem 0 2.5rem; }
footer {
  padding-top: 2.5rem; }
.centered {
  text-align: center; }
h1 {
  color: #222;
  font-weight: 100;
  font-size: 2.5rem;
  margin-bottom: 0.75em; }
p {
  color: #666;
  line-height: 1.5em;
  margin: 0; }
  p + p {
    margin-top: 2em; }
a {
  color: #009DFF;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }
  a:visited {
    color: #009DFF; }
  a:hover {
    text-decoration: underline;
    color: #F15A29; }
.right {
  float: right; }
@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-0.75rem);
    transform: translateY(-0.75rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.animated-view.ng-enter {
  animation: 0.35s slideIn ease-in-out;
  -webkit-animation: 0.35s slideIn ease-in-out; }
.gender-picker a {
  display: inline-block; }
  .gender-picker a svg {
    height: 300px; }
    .gender-picker a svg > * {
      transition: all 0.2s ease-out; }
  .gender-picker a:hover svg > * {
    fill: #009DFF; }
.gender-picker .the-gender-divide {
  height: 300px;
  width: 30px;
  background-color: black;
  display: inline-block;
  margin: 0 20px; }
