html {
  background-color: rgb(248,248,248);
  font-size: 16px;
}
body {
  width: 60%;
  max-width: 900px;
  margin: 4rem auto 0;
  padding-bottom: 4rem;

  font-family: 'proxima-nova', 'Proxima Nova', Helvetica, Arial, sans-serif;
}
header {
  padding-bottom: 2.5rem;
}
header img {
  width: 10rem;
  border: none;
}
main {
  padding: 0.5rem 0 2.5rem;
}
footer {
  padding-top: 2.5rem;
}
.centered {
  text-align: center;
}
h1 {
  color: #777;
  font-weight: 100;
  font-size: 2.5rem;
  margin-bottom: 0.75em;
}
p {
  color: #666;
  line-height: 1.5em;
  margin: 0;

  &+p {
    margin-top: 2em;
  }
}

a {
  color: $blue;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:visited {
    color: $blue;
  }
  &:hover {
    text-decoration: underline;
    color: $orange;
  }
}

.right {
  float: right;
}

// Main view animation
@-webkit-keyframes pageIn {
  0% {
    opacity: 0;
    //-webkit-transform: translateY(-0.75rem);
    //transform: translateY(-0.75rem);
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
  }

  100% {
    opacity: 1;
    //-webkit-transform: translateY(0);
    //transform: translateY(0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.animated-view {
  &.ng-enter {
    animation: 0.35s pageIn ease-out;
    -webkit-animation: 0.35s pageIn ease-out;
  }
}
