.gender-picker {
	a {
		display: inline-block;
		svg {
			height: 300px;
			& > * {
				transition: all 0.2s ease-out;
			}
		}
		&:hover {
			svg > * {
				fill: $blue;
			}
		}
	}
	.the-gender-divide {
		height: 300px;
		width: 30px;
		background-color: #222;
		display: inline-block;
		margin: 0 20px;
	}
}

.emoji {
	font-weight: normal;
	font-size: 5rem;
}

article.status, section.count {
	transition: all 0.3s ease-out;
}

article.status {
	background-color: $red;
	padding: 2rem 1rem;
	border-radius: 1rem;
	font-weight: bold;
	color: white;

	&.available {
		background-color: $green;
	}
}

section.count {
	font-weight: 100;
	font-size: 3.5rem;
	margin-top: 2rem;
}