$timing: cubic-bezier(0, 0.78, 0.4, 0.95);

.gender-picker {
	a {
		display: inline-block;
		svg {
			height: 300px;
			& > * {
				transition: all 0.2s ease-out;
			}
		}
		&:hover {
			svg > * {
				fill: $blue;
			}
		}
	}
	.the-gender-divide {
		height: 300px;
		width: 30px;
		background-color: #222;
		display: inline-block;
		margin: 0 20px;
	}
}

a.gender-link {
	color: #111;
	text-decoration: none;
	&:hover {
		opacity: 0.5;
		text-decoration: none;
	}
	img {
		height: 2rem;
		transition: opacity 0.2s ease-out;
	}
}

.emoji {
	font-weight: normal;
	font-size: 5rem;
}

article.status, section.count {
	transition: all 0.8s $timing;
}

$base-bg-opacity: 0.7;

article.status {
	background-color: $red;
	padding: 1rem 1rem 2rem;
	color: white;

	box-shadow: 8rem -4rem 10rem 16rem fade-out($red, $base-bg-opacity + 0.15),
							-10rem 10rem 25rem 20rem fade-out($red, $base-bg-opacity + 0.2);

	&.available {
		background-color: $green;
		box-shadow: -7rem 13rem 11rem 18rem fade-out($green, $base-bg-opacity - 0.1),
								10rem -10rem 7rem 13rem fade-out($green, $base-bg-opacity + 0.25);
	}

	&.warning {
		background-color: $yellow;
		box-shadow: 10rem 10rem 8rem 14rem fade-out($yellow, $base-bg-opacity + 0.1),
								-10rem -10rem 18rem 20rem fade-out($yellow, $base-bg-opacity - 0.05);
	}
}

section.count {
	font-weight: 100;
	font-size: 3.5rem;
	margin-top: 1rem;

	h1 {
		font-size: 6rem;
		color: white;
		margin: 0;
		font-weight: 600;
		letter-spacing: 0.08em;
	}

	h2 {
		text-transform: uppercase;
		font-size: 2rem;
		font-weight: 100;
		margin: 0;
		letter-spacing: 0.05em;
		color: rgba(255,255,255,0.6);
	}
}

section.alertme {
	margin-top: 1.5rem;
	font-weight: normal;

	label {
		display: inline-block;
		color: rgba(255,255,255,0.7);
		padding: 1rem;
		border: 1px solid rgba(255,255,255,0.5);

		transition: all 0.2s $timing;

		&:hover {
			border: 1px solid rgba(255,255,255,0.7);
			color: white;
		}
	}
	input {
		vertical-align: text-top;
	}
}

article.status.alertme-active section.alertme label {
	background-color: white;
	border-color: white;
	color: $red;
}

// Responsive layout
@media all and (max-width: 736px) {
  html {
    font-size: 20px;
  }
  body {
    width: 100%;
    max-width: none;
    margin: 0 auto;
  }
  .gender-link {
    img {
      height: 2rem;
    }
  }
}
