<div class="centered">
  <h1><a href="#/" class="gender-link"><img src="img/gender-{{gender}}.svg" ng-class="{'available': numberOpen > 0}"> {{gender | humanize}}'s Bathroom</a></h1>


  <article class="status"
    ng-class="{'available': data[gender] > 1, 'warning': data[gender] == 1, 'unavailable': data[gender] == 0}">
    <div class="emoji">{{ data[gender] > 0 ? ':-)' : ':-(' }}</div>

    <section class="count">
      <h1>{{data[gender]}}/{{total()}}</h1>
      <h2>stalls available</h2>
    </section>
  </article>
</div>